.flex-container{
    margin: auto;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 100%;
    background: lightskyblue;
}

.logo{
    margin: 2%;
    width: 10px;
}

.header{
    align-items: center;
    font-size: x-large;
    margin-left: 70%;
}

.aboutMe{
    margin-left: 2%;
    font-size: large;
}

.footer{
    font-size: xx-large;
    margin-left: 38%;
}

